.menuLink{
	width: 380px;
	height: 360px;
	margin-right:10px;
	margin-left:10px;
	float: left;
	text-align: center;
	background-color: #FFEC85;
	border-radius: 50px;
}

.menuLink h1{
	line-height: 280px;
}

.menuLink a{
	color: #000000;
	font-style: normal;
	text-decoration: none;
}

.menuLink:hover{
	background-color: #FFCA61;
}

.menuLink:hover h1{
	font-style: normal;
	text-decoration: none;
}

.menuLink:hover a{
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}

.menuLink:hover a{
	font-color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}

#title{
	width:800px;
	height: 100px;
	float: left;
	text-align: center;
}
