.scorebar{
	width: 800px;
	height: 80px;
	float: left;
}

.scorebar p{
	float: left;
	margin-left: 10px;
}

.field{
	width: 400px;
	height: 400px;
	float: left;
}

.track {
	position: relative;
	width: 100px;
	height: 480px;
	margin-left: 12.5%;
	float:left;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.vehicle{
	background-color: #03F;
	height: 100px;
	width: 80px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.block {
	height: 60px;
	width: 100px;
	background-color: red;
	position: absolute;
}

.bonus{
	height: 60px;
	width: 100px;
	background-color: green;
	position: absolute;
}

.breakable {
	height: 60px;
	width: 100px;
	background-color: yellow;
	position: absolute;
}