.scorebar{
	width: 800px;
	height: 60px;
	float: left;
	margin-top: 5px;
	background-color:#FFEC85;
	border-radius: 20px;
}

.scorebar p{
	float: left;
	font-size: 30px;
	line-height:25px;
	font-family: Impact, Charcoal, sans-serif;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.field{
	margin-top: 20px;
	width: 400px;
	height: 400px;
	float: left;
	
}

.track {
	position: relative;
	width: 100px;
	height: 400px;
	margin-left: 12.5%;
	float:left;
}

.vehicle{
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.vehicleRender{
	height: 100px;
	width: 80px;
	position: relative;
	top: 50px;
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.block {
	height: 60px;
	width: 100px;
	background-image: url("../src/rock.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	position: absolute;
}

.bonus{
	height: 60px;
	width: 100px;
	background-image: url("../src/gem.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	position: absolute;
}

.breakable {
	height: 60px;
	width: 100px;
	background-image: url("../src/chest_closed.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	position: absolute;
}

.breakablesub {
	height: 60px;
	width: 100px;
	background-image: url("../src/chest_open.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	position: absolute;
}

.moveButton{
	width:39px;
	height:31px;
	background-color:transparent;
	border:none;
	position: relative;
	top:320px;
	right:147px
}

#score{
	width:200px;
	position:relative;
	top:-10px;
	left: 15px;
}

#speed{
	position:relative;
	width:200px;
	top:-10px;
}

#countdownTimer{
	position:relative;
	width:200px;
	top:-10px;
}

#menuButton{
	position:relative;
	right:20px;
	top: 12px;
	width:38px;
	height:36px;
	background-image:url("../src/pause.png");
	background-color:transparent;
	border: none;
	float:right;
}

#menuButton:hover{
	background-image:url("../src/pause_hover.png");
}

#result_score{
	width: 795px;
	height: 90px;
	float: left;
	text-align: center;
	background-color:#FFEC85;
	margin-top: 5px;
	border-radius: 20px;
	border-color: #F2FFDF;
	border-style: solid;
}

#result_score h1{
	font-family: Impact, Charcoal, sans-serif;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 40px;
	position:relative;
	top:-10px;
}

#result_data{
	width: 395px;
	height: 280px;
	position: absolute;
	top:112px;
	left:200px;
	float: left;
	background-color:#F2FFDF;
	border-radius: 20px;
	border-color: #FFCA61;
	border-style: solid;
}

#result_data p{
	line-height:40px;
	margin-left: 20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 25px;
}

#result_menu{
	width: 800px;
	height: 100px;
	position: absolute;
	top: 390px;
	float: left;
	text-align: center;
}

#result_menu button{
	margin-top:25px;
	margin-left:80px;
	margin-right:80px;
	height:54px;
	width: 96px;
	border-style: solid;
	border-color:#FFCA61;
	background-color: #FFEC85;
	border-radius: 10px;
	font-size: 25px;
	font-family:Tahoma, Geneva, sans-serif;
}

#result_menu button:hover{
	background-color: #FFCA61;
}

#pause_menu{
	width:780px;
	height:390px;
	background-color:#F2FFDF;
	position: fixed;
	top: 97px;
	left:17px;
	z-index : 2;
	border-radius: 50px;
}

#pause_menu h1{
	font-family: Impact, Charcoal, sans-serif;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 50px;
	position:relative;
	left: 330px;
}

#pause_menu button{
	height:80px;
	width: 200px;
	border-style: solid;
	border-color:#FFCA61;
	background-color: #FFEC85;
	border-radius: 10px;
	font-size: 25px;
	font-family:Tahoma, Geneva, sans-serif;
}

#pause_menu button:hover{
	background-color: #FFCA61;
}

#resume_button{
	position:fixed;
	top: 220px;
	left:310px;
}

#back_button{
	position:fixed;
	top: 350px;
	left:310px;
}

#startGameButton{
	height:80px;
	width: 200px;
	border-style: solid;
	border-color:#FFCA61;
	background-color: #FFEC85;
	border-radius: 10px;
	font-size: 25px;
	font-family:Tahoma, Geneva, sans-serif;
	z-index : 1;
	position:fixed;
	top: 220px;
	left:310px;
}