.scorebar{
	width: 800px;
	height: 80px;
	float: left;
}

.scorebar p{
	float: left;
	margin-left: 10px;
}

.field{
	width: 400px;
	height: 400px;
	float: left;
}

.track {
	position: relative;
	width: 100px;
	height: 380px;
	margin-left: 12.5%;
	float:left;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.vehicle{
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.vehicleRender{
	background-color: #03F;
	height: 100px;
	width: 80px;
	position: relative;
	top: 50px;
}

.block {
	height: 60px;
	width: 100px;
	background-color: red;
	position: absolute;
}

.bonus{
	height: 60px;
	width: 100px;
	background-color: green;
	position: absolute;
}

.breakable {
	height: 60px;
	width: 100px;
	background-color: yellow;
	position: absolute;
}

#result_score{
	width: 800px;
	height: 100px;
	float: left;
	text-align: center;
}

#result_data{
	width: 400px;
	height: 280px;
	position: absolute;
	top:110px;
	left:200px;
	float: left;
}

#result_data p{
	line-height:60px;
}

#result_menu{
	width: 800px;
	height: 100px;
	position: absolute;
	top: 390px;
	float: left;
	text-align: center;
}

#result_menu button{
	margin-top:40px;
	margin-left:100px;
	margin-right:100px;
}