.field{
	width: 40%;
	height: 500px;
	border-style: dotted;
	margin-top: 30px;
	margin-left: 5%;
}

.track {
	position: relative;
	width: 200px;
	height: 500px;
	margin-left: 12.5%;
	float:left;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.vehicle{
	background-color: #03F;
	height: 120px;
	width: 100px;
	position: absolute;
	left: 50px;
	bottom: 10px;
}

.block {
	height: 80px;
	width: 80px;
	background-color: red;
	position: absolute;
}

.bonus{
	height: 80px;
	width: 80px;
	background-color: green;
	position: absolute;
}

.breakable {
	height: 80px;
	width: 80px;
	background-color: yellow;
	position: absolute;
}