.login_button{
    border-style: solid;
    border-color:#FFCA61;
    background-color: #FFEC85;
    border-radius: 10px;
    font-size: 25px;
    font-family:Tahoma, Geneva, sans-serif;
}

.login_button:hover{
    background-color: #FFCA61;
}

#login_panel{
    width:400px;
    height:400px;
    margin-left: 200px;
    margin-top: 30px;
    text-align: center;
}

#login_panel h1{
    font-size: 30px;
    line-height: 20px;
}

#id_title{
    width: 360px;
    background-color:#FFEC85;
    border-radius: 20px;
    border-color: #F2FFDF;
    border-style: solid;
    margin-left: 20px;
}

#id_List{
    width:400px;
    height: 280px;
    background-color:#F2FFDF;
    border-radius: 20px;
    border-color: #FFCA61;
    border-style: solid;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#id_List::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#id_List::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
}

#id_List::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FFCA61;
}

#register_button{
    width:200px;
    height: 60px;
    margin-top: 10px;
}

.id_user{
    width:300px;
    height: 60px;
    margin-top: 10px;
    border-style: solid;
    border-color:#FFCA61;
    background-color: #FFEC85;
    border-radius: 10px;
    font-size: 25px;
    font-family:Tahoma, Geneva, sans-serif;
}

.id_user:hover{
    background-color: #FFCA61;
}

#register_panel{
    width:400px;
    height:400px;
    margin-left: 200px;
    margin-top: 30px;
    text-align: center;
    border-style: solid;
    background-color:#F2FFDF;
    border-radius: 20px;
    border-color: #FFCA61;
}

#register_confirm{
    width:200px;
    height: 60px;
    margin-top: 40px;
}

#register_input{
    width:350px;
    height: 80px;
    margin-top: 30px;
    text-align: center;
}

#register_cancel{
    width:200px;
    height: 60px;
    margin-top: 20px;
}